body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
}

.debug {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 0.7rem;
}

.debug > div > div {
    margin-left: 10px;
}